@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

/*-----SIDEBAR-----*/

.sidebar {
  background-color: #0ea5e9;
  color: white;
  padding-inline: 25px;
  padding-top: 25px;
  font-weight: 600;
}

.logo {
  margin-bottom: 50px;
  font-size: 1.2rem;
}

.list {
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.list > div {
  padding: 10px;
}

.main {
  background-color: white;
  display: grid;
  grid-template-rows: 15% 85%;
}

/*-----HEADER-----*/

.header {
  background-color: white;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

/*-----NAVBAR-----*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 50px;
  margin-top: 25px;
}

.form-input {
  width: 600px;
  height: 30px;
  background-color: rgb(228, 228, 228); 
  border-radius: 16px;
  border: none;
  margin-left: 20px;
  margin-right: 100px;
}

.bell-icon {
  margin-left: auto;
}

.navbar > img {
  margin-inline: 20px;
}

.navbar > h5 {
  font-size: 1.2rem;
}

/*-----WELCOME-----*/

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 50px;
  margin-top: 10px;
}

.welcome > img {
  margin-right: 30px;
}

.buttons {
  margin-left: auto;
}

button {
  background-color: #0ea5e9;
  color: white;
  border: none;
  border-radius: 30px;
  height: 45px;
  width: 110px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-inline: 20px;
}

.main-grid {
  background-color: rgb(228, 228, 228);
  display: grid;
  grid-template-columns: 70% 30%;
}

.projects {
  grid-column: 1 / 2;
  padding: 20px;
}

.project-heading {
  margin-bottom: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card {
  background-color: white;
  height: 200px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 6px solid rgb(217, 167, 3);
}

.card > h4 {
  margin-bottom: 10px;
}

.ann-trend {
  padding: 20px;
}

.ann-heading {
  margin-bottom: 10px;
}

.ann-cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.ann-card {
  background-color: white;
  height: 200px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}